BETTER_AUTH_SECRET="" # Run to generate a secure random secret key: `openssl rand -base64 32`
BETTER_AUTH_URL="http://localhost:5173"

# https://developers.cloudflare.com/turnstile/troubleshooting/testing/
VITE_TURNSTILE_SITE_KEY="1x00000000000000000000AA"
TURNSTILE_SECRET_KEY="1x0000000000000000000000000000000AA"
